@media (max-width: 900px){
   .header, .home-div {
        flex-direction: column;
   }

   .home-div > .order-div, .home-div > .ingredients-div {
    margin: 0 auto;
    padding: 1rem;
   }

   .main > .home-div {
    gap: 0;
   }

   #content {
    min-height: 100vh;
   }

   #content > .header > h1 {
    text-align: center;
    margin: 1rem auto;
   }

   #content .button-container {
    margin-right: 0;
    flex-direction: column;
   }

   #content .button-container > button {
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
   }

}


#content {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    height: 9rem;
    background-color: #96242f;
    display: flex;
    align-items: center;
    flex: 1;
}

.main {
    display: flex;
    flex: 1;
}

.footer {
    background-color: #96242f;
    height: 3rem;
    flex-shrink: 0;
    margin-top: 4rem;
}

.header button {
    background-color: #808080;
    color: #e6e6e6;
    border-radius: 20px;
    border: none;
    font-family: "Liberation Mono";
    font-size: 1.5rem;
    width: 9rem;
    height: 3rem;
    margin-right: 1rem;
    box-shadow: none;
}

.button-container {
    margin-right: 3rem;
    flex: 1;
    display: flex;
}

.header > h1 {
    color: #e6e6e6;
    font-family: Z003;
    font-size: 3rem;
    margin-left: 10rem;
    flex: 1;
}

.home-div {
    display: flex;
    gap: 7rem;
    flex: 1;
}

.div-line {
    background-color: #808080;
    height: 1px;
}

.order-div {
    margin-left: 10rem;
    flex: 1;
}

.ingredients-div {
    margin-right: 10rem;
    flex: 1;
}

h2 {
    color: #333333;
    font-family: monospace;
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 5rem;
}

p {
    color: #333;
    font-family: AnjaliOldLipi;
}

.order-button {
    background-color: #96242f;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-family: "Liberation Mono";
    color: #e6e6e6;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.menu-div {
    flex: 1;
    display: flex;
}

table {
   margin: 4rem auto 0 auto;
   flex: 1;
   margin-left: 4rem;
   margin-right: 4rem;
}

td {
    font-family: AnjaliOldLipi;
    background-color: #e6e6e6;
    color: #808080;
}

th {
    font-family: monospace;
    font-weight: normal;
    background-color: #808080;
    color: #e6e6e6;
}

th, td {
    padding: 1rem;
}

.contact-div {
    width: 100%;
}

.person {
    border: 2px solid #808080;
    width: 20%;
    margin: 1rem auto;
    text-align: center;
    font-family: AnjaliOldLipi;
    color: #333333;
}

.person p:first-of-type {
    font-weight: bold;
}